.ytcm-marker {
  position: absolute;
  top: -300%;
  width: 8px;
  height: 400%;
  /* バーは下側の25%に相当。 */
  background: linear-gradient(
    to bottom,
    transparent 0 75%,
    #ff9500 75% 100%
  );
  pointer-events: auto;
  z-index: 1000; /* プレイヤーUIより前面に */
}
